service cloud.firestore {
  match /databases/{database}/documents {
    match /counts/{uid} {
      allow read, write: if belongsTo(uid);
    }
    match /stories/{storyId} {
      allow create: if isSignedIn();
      allow update, delete: if belongsTo(resource.data.authorId);
      allow read: if belongsTo(resource.data.authorId) || resource.data.isPublic;
    }
    match /{document=**} {
      allow write: if false;
    }
  }
}

function isSignedIn() {
    return request.auth.uid != null
}

function belongsTo(uid) {
    return request.auth.uid == uid
}
